
__pycache__/login.cpython-310.pyc
__pycache__/memFunc.cpython-310.pyc
__pycache__/menu.cpython-310.pyc
__pycache__/traFunc.cpython-310.pyc
__pycache__/admFunc.cpython-310.pyc
__pycache__/traFunc.cpython-312.pyc
__pycache__/menu.cpython-312.pyc
__pycache__/memFunc.cpython-312.pyc
__pycache__/login.cpython-312.pyc
__pycache__/admFunc.cpython-312.pyc
